@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
   @apply bg-green-500;
   @apply text-black;
}


#scrolling-div {
    position: relative; /* Normal position */
    transition: top 0.3s; /* Smooth transition */
    width: 100%; /* Ensure full width */
}

.sticky {
    position: fixed; /* Fixes the div in place */
    top: 0; /* Sticks to the top of the viewport */
    z-index: 10; /* Ensures it stays on top */
}
